# cloned source trees; the trailing slash is necessary otherwise the files of
# the same names in *.d/ directories get ignored as well.
pybind11/
python/
numpy/
solvcon/
# IDE
*.xcodeproj/
.ipynb_checkpoints/
# installation
usr
# temporary directory
downloaded
src
tmp
