# cloned source trees; the leading slash is necessary otherwise the files of
# the same names in *.d/ directories get ignored as well.
/pybind11
/python
/python2
/python.*
/numpy
/seminar
/solvcon
/modmagic
/r_*/
# IDE
*.xcodeproj/
.ipynb_checkpoints/
# installation
usr
# temporary directory
downloaded
src
tmp
