# cloned source trees; the trailing slash is necessary otherwise the files of
# the same names in *.d/ directories get ignored as well.
python/
python.xcodeproj/
numpy/
pybind11/
# installation
usr
# temporary directory
downloaded
src
tmp
